@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Solway&display=swap');
* {
    margin: 0;
    padding: 0;
    /* border: 1px solid blue;   */
    box-sizing: border-box;
}
:root {
    --colorOriginal: rgb(245,223,78);
    --colorElegido: rgb(120,240,121);
    --colorParaFondo: rgb(248,249,250);
    --colorOpcional: rgb(243,241,239);
    --colorMoxa: rgb(234,77,53);
    --paraBordes: 1px solid black;
}
header { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: white;
    position: fixed;
    z-index: 30;
    font-family: Solway, cursive;
    box-shadow: 0px 5px 3px gray;
}
header h3 {
    /* width: 10.5%; */
}
header nav {
    /* width: 43%; */
    word-spacing: 10px;
}
header nav a {
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    color: grey;    
}
header nav a:hover {
    text-decoration: underline;
    color: var(--colorElegido);
}/* 
header div {
    width: 7.5%;
} */
header div a {
    font-size: 150%;
    color: black;    
}
header div a:hover {
    color: var(--colorElegido);
}
.hamburguesa {
     display: none;    
}
@media(max-width:840px) {
    /* .header {
        display: flex;
        justify-content: space-between;
    } */
    nav, header div {
        display: none;
    }
    .hamburguesa {
        display: block;
        font-size: 150%;
    }
}
main {
    font-family: Solway, cursive;
}
.primera {
    /* border: 1px solid red; */
    /* background-color: blue; */
    width: 100%;
    height: 615px;
    display: flex;
    background-color: var(--colorElegido);
}
.izquierda {
    width: 50%;
    height: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-left: 7%;
    text-align: left;
    align-items: center;
    justify-content: center;
    /* border: var(--paraBordes); */
} 
.izquierda h2 {
    width: 100%;
    text-align: left;
    margin-top: 100px;
    font-size: 200%;
    /* border: var(--paraBordes); */
}/* 
NO FUNCIONA EN RESPONSIVE*/
/* 
@keyframes maqEscribir {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    } 
} */
.izquierda h1 {
    margin: 0 auto;
    width: 100%;
    height: 70px;
    font-size: 350%;
    /* border: var(--paraBordes); */
    /* 

    NO FUNCIONA EFECTO EN RESPONSIVE
    *//* 
    display: block;
    border-right: 4px solid;
    white-space: nowrap;
    animation: maqEscribir 3s steps(16) 3;
    overflow: hidden;   */ 
} 
.izquierda h3 {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    margin-bottom: 30px;
}
.botones {
    display: flex;
    /* border: var(--paraBordes);  */
    width: 100%;
    
    justify-content: left;
    text-align: center;
}
.boton1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    min-width: 150px;
    min-height: 50px;
    /* border: var(--paraBordes); */
    color: white;
    background-color: black;
    text-decoration: none;
    /* padding: 15px; */
    border-radius: 5px;
}
.boton1:hover {
    color: var(--colorElegido);
    background-color:  rgba(0,0,0,.5);
}
.boton2 {
    width: 160px;
    height: 50px;
    /* border: var(--paraBordes); */
    color: black;
    padding-top: 15px;
}
.boton2:hover {
    text-decoration: none;
    border: var(--colorParaFondo);
}
.derecha {
    width: 50%;
    height: 600px;  
}

@keyframes escala1 {
    0%{
        transform: scale(0.4)
    }
    50%{
        transform: scale(0.7)
    } 
100% {
    transform: scale 1.0;
}
}
.imagenPerfil {
    margin-top: 150px;
    margin-left: 130px; 
    width: 400px;
    height: 400px;
    border-radius: 200px;
    border: 10px solid white;
    
    animation-name: escala1;
    animation-duration: 6s;
    animation-iteration-count: 1;
}
@media(max-width:1266px) {
    .primera {
        /* background-color: blueviolet; */
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
        /* border: var(--paraBordes);  */
    }
    .derecha {
        display: flex;
        justify-content: center;
        /* border: var(--paraBordes);  */
        margin: 0 auto;
        width: 100%;
        height: auto;
        padding: 7% 0 0 0;/* 
        margin-right: 100px;
        margin-top: 100px; */     
    }
    .imagenPerfil{
        margin: 0 auto;
    }
    .izquierda {
        padding: 60px 0;
        margin: 0 auto;
        /* border: 5px solid rgb(234,77,53); */
        display: flex;
        flex-direction: column;
        width: 68%;
        height: 100%;
        justify-content: center;
    }
    .izquierda h2 {
        /* border: var(--paraBordes); */
        width: 100%;
        margin: 20px auto;
        text-align: center;
    }
    .izquierda h1 {
        font-size: 350%;
        width: 100%;
        margin: 10px auto;
        text-align: center;
    }
    .izquierda h3 {
        /* border: var(--paraBordes); */
        width: 100%;
        margin: 10px auto;
        text-align: center;
    }
    .botones {
        /* border: var(--paraBordes); */
        width: 100%;
        margin: 10px auto;
        justify-content: space-around;
    }
}
@media(max-width:1024px) {
  .izquierda {
    width: 70%;
  }  
}
@media(max-width:960px) {
  .izquierda {
    width: 80%;
  } 
   .imagenPerfil{
    margin: 20px auto 0 auto;
} 
}

@media(max-width:792px) {
    .izquierda {
      width: 90%;
    } 
}
@media(max-width:694px) {
    .izquierda {
        width: 100%;
      } 
      .imagenPerfil{
        margin: 40px auto 0 auto;
    } 
}
@media(max-width:625px) {
    .izquierda h1 {
        font-size: 300%;
      } 
}
@media(max-width:543px) {
    .izquierda {
        padding: 20px 0;
    }
    .izquierda h1  {
        font-size: 280%;
      } 
    .izquierda h2 {
        font-size: 180%;
    }
}
@media(max-width:440px) {
    .izquierda {
        padding: 0px 0;
    }
    .izquierda h1  {
        margin: 15px auto;
      } 
    .izquierda h2 {
        margin: 9px auto;
    }
    .izquierda h3 {
        margin: 9px auto;
    }
}
@media(max-width:392px) {
    .izquierda {
        padding: 0px 0;
    }
    .izquierda h1  {
        font-size: 250%;
      } 
    .izquierda h2 {
        font-size: 160%;
    }
}

/*aca empieza segunda seccion con presentación*/


.segunda {
    width: 100%;
    height: 560px;
    /* background-color: aqua;  */
    
}
.encabezado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 260px;
    background-color: white;
}
.encabezado p {
    width: 113px;
    min-width: 113px;
    background-color: var(--colorElegido);
    text-align: center;
    margin-bottom: 40px;
}
.encabezado h2 strong {
    width: 24%;
    height: 50px;
    /* border: var(--paraBordes); */
    font-size: 150%;
}
.segundabis {
    /* border: var(--paraBordes); */
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* align-items: center; */
    
}
.textos {
    margin-left: 7%;
    width: 70%;
    /* background-color: bisque; */
    height: 300px;
    display: flex;
    align-items: left;
    flex-direction: column;
}
.textos h2 {
    width: 100%;
    height: 50px;
    font-size: 230%;
}
.textos h2 span {
    text-decoration: underline var(--colorElegido);
}
.textos p {
    width: 100%;
    height: 380px;
    font-size: 150%;
}
.experiencia1 {
    width:50% ;
    height: 300px;
    /* background-color: brown; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.experiencia1 h1 {
    background-color: var(--colorElegido);
    width: 150px;
    height: 150px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1300%; 
    animation-name: escala;
    animation-duration: 6s;
    animation-iteration-count: 2;
}
@keyframes escala {
    0%{
        transform: scale(1.0)
    }
    50%{
        transform: scale(1.5)
    } 
100% {
    transform: scale 1.2;
}
}
.experiencia1 h4 {
    /* border: var(--paraBordes); */
    font-size: 200%;
    align-items: center;
}
@media(max-width:1200px){
    .textos {
        margin-left: 6%;
    }    
}

@media(max-width:992px){
    .textos {
        margin-left: 3%;
    }    
}
@media(max-width:768px){
    .segundabis {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .experiencia1 {
        margin-top: 50px;
    }
}
@media(max-width:576px){
    .textos h2 {
        margin-bottom: 50px;
    }
    .experiencia1 {
        margin-top: 200px;
    }
}
@media(max-width:440px){
    .textos h2 {
        margin-bottom: 50px;
    }
    .experiencia1 {
        margin-top: 350px;
    }
}
@media(max-width:412px){
    .experiencia1 {
        margin-top: 370px;
    }
    
}
/* Tabla de datos */

.tabla {
    width: 100%;
    height: 150px;
    /* border: var(--paraBordes);  */ 
    display: flex;
    justify-content: space-between;
    align-items: center;
}.tablas {
    width: 50%;
    display: flex;
    margin: 0 5.5%;
}
.tabladatos1 {
    display: flex;
    flex-direction: column;
    width: 44%;
    /* border: var(--paraBordes); */
}
.tabladatos1 h3 {
    padding: 20px;
}
.tabladatos2 {
    display: flex;
    flex-direction: column;
    width: 56%;
    /* border: var(--paraBordes); */
}
.tabladatos2 h3 {
    padding: 20px;
}
.tabladatos2 h3 span {
    text-decoration: underline;
}
.tabladatos3 {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* border: var(--paraBordes); */
}
.tabladatos3 h3 {
    padding: 20px;
}
.tabladatos4 {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* border: var(--paraBordes); */
}
.tabladatos4 h3 {
    padding: 20px;
}
.titulos {
    color: gray;
}
@media(max-width:1200px) {
   .tablas {
    width: 50%;
    display: flex;
    margin: 0 4%;
} 
}
@media(max-width:1024px) {
  .tabladatos3 {
    width:55%;
  } 
  .tabladatos4 {
    width: 45%;
  } 
}
@media(max-width:992px) {
   .tablas {
    width: 50%;
    display: flex;
    margin: 0 1%;
} 
  .tabladatos3 {
    width:65%;
    
  } 
  .tabladatos4 {
    width: 35%;
  } 
}
@media(max-width:768px){
    .tabla {
        height: 100%;
        margin-top: 300px;
        flex-direction: column;
    }
 .tablas {
    width: 95%;
    display: flex;
    margin: 0 0%;
} 
  .tabladatos1 {
    width:50%;
    
  } 
  .tabladatos2 {
    width: 50%;
  }
  .tabladatos3 {
    width:50%;
    
  } 
  .tabladatos4 {
    width: 50%;
  }
}
@media(max-width:576px){
    .tabla {
        height: 100%;
        margin-top: 450px;
        flex-direction: column;
    }
 .tablas {
    width: 100%;
    display: flex;
    margin: 0 0%;
} 
  .tabladatos1 {
    width:50%;
    
  } 
  .tabladatos2 {
    width: 50%;
  }
  .tabladatos3 {
    width:50%;
    
  } 
  .tabladatos4 {
    width: 50%;
  }
}
@media(max-width:440px){
    .tabla {
        height: 100%;
        margin-top: 600px;
        flex-direction: column;
    }
 .tablas {
    width: 98%;
    display: flex;
    flex-direction: column;
    margin: 0 1%;
} 
  .tabladatos1 {
    width:100%;
    
  } 
  .tabladatos2 {
    width: 100%;
  }
  .tabladatos3 {
    width:100%;
    
  } 
  .tabladatos4 {
    width: 100%;
  }
}

/*aca empieza tercera seccion sobre lo que puedo hacer*/

.tercera {
    margin-top: 40px;
    padding-top: 80px;
    background-color: var(--colorParaFondo);
    width: 100%;
    height: 850px;
}
.tercera p {
    margin: 40px auto;
    background-color: var(--colorElegido);
    width: 155px;
    height: 23px;
    font-size: 110%;
}
.tercera h2 {
    font-size: 200%;
    margin: 30px auto;
    text-align: center;
}
.padre {
    display: flex;
    justify-content: center;
}
.caja1 {
    margin: 0 10px;
    /*border: 1px solid black;*/
    width: 350px;
    height: 260px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 30px;
}
.caja1 p {
    text-align: center;
    font-size: 120%;
    /*border: 1px solid black;*/
    margin: 0 auto;
    width: 330px;
    height: 120px;
    background-color: ghostwhite;
    color: gray;
    padding-top: 30px;
}
.caja1 i { 
    /*margin-top: 50px;*/
    width: 350px;
    height: 60px;
    color: var(--colorElegido);
    font-size: 50px;
    /*background-color: aqua;*/
    padding-top: 60px;
    padding-bottom: 30px;
    /*padding-left: 140px;*/
    /*border: 1px solid black;*/
    justify-content: center;
}
.caja1 h3 strong {
    width: 350px;
    /*height: 190px;*/
    /*border: 1px solid black;*/
    margin-top: 20px;
    font-size: 150%;
    padding-top: 30px;
}
.padre2 {
    display: flex;
    justify-content: center;
}
.caja2 {
    margin: 0 10px;
    /*border: 1px solid black;*/
    width: 350px;
    height: 260px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 30px;
}
.caja2 p {
    text-align: center;
    font-size: 120%;
    /*border: 1px solid black;*/
    margin: 0 auto;
    width: 330px;
    height: 120px;
    background-color: ghostwhite;
    color: gray;
    padding-top: 30px;
}
.caja2 i { 
    /*margin-top: 50px;*/
    width: 350px;
    height: 60px;
    color: var(--colorElegido);
    font-size: 50px;
    /*background-color: aqua;*/
    padding-top: 60px;
    padding-bottom: 30px;
    /*padding-left: 140px;*/
    /*border: 1px solid black;*/
    justify-content: center;
}
.caja2 h3 strong {
    width: 350px;
    /*height: 190px;*/
    /*border: 1px solid black;*/
    margin-top: 20px;
    font-size: 150%;
    padding-top: 30px;
}
@media(max-width: 1160px) {
    .padre {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--colorParaFondo);
    }
    .padre2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--colorParaFondo);
    }
} 
@media(max-width:768px) {
    .tercera {
        margin-top: 20px;
    }
}
@media(max-width:576px) {
    .tercera {
        margin-top: 20px;
    }
}
@media(max-width:440px) {
    .tercera {
        margin-top: 20px;
    }
}
@media(max-width:412px) {
    .tercera {
        margin-top: 20px;
    }
}
/*aca empieza cuarta seccion resumen de cv*/

.cuarta {
    margin: 46px auto;
    width: 100%;
    height: 700px;
    padding-top: 80px;
    
}
.cuarta p {
    margin: 0 auto;
    background-color: var(--colorElegido);
    width: 80px;
    height: 23px;
    font-size: 110%;
}
.cuarta h2 {
    font-size: 200%;
    margin: 20px auto;
    text-align: center;
    
}
@media(max-width:1200px) {
    .cuarta {
        margin-left: -1%;
    }
}
@media(max-width:1160px) {
    .cuarta {
        margin-top: 960px; 
        /* background-color: var(--colorElegido); */
    } 
    
@media(max-width:992px) {
    .cuarta {
        margin-left: -3%;
    }
} 
@media(max-width:576px) {
    .resumen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 240px;
        text-align: center;
        /* border: var(--paraBordes); */
    }
    .educacion {
        /* border: var(--paraBordes);  */
        min-width: 100%;

    }
    .experiencia {
        
        /* border: var(--paraBordes); */
        min-width: 100%;
        margin-right: 50px;
        padding-bottom: 50px;
        padding-top: 50px;
    }
}
}
@media(max-width:440px) {
    .resumen {
        margin-top: 300px;
    }
    .experiencia {
        margin-right: 40px;
    }
}
@media(max-width:412px) {
    .experiencia {
        margin-right: 30px;
    }
}
@media(max-width:360px) {
    .resumen {
        margin-top: 350px;
    }
}
.resumen {
    width: 100%;
    height: 700px;
    display: flex;
    text-align: left;
}
.resumen h2 {
    /* border: var(--paraBordes); */
    font-size: 150%;
    text-align: left;
}
.subtitulo {
    /* border: var(--paraBordes); */
    padding-left: 6.5%;
}
.miEducación h5 {
    text-align: left;
    color: gray;
    font-size: 120%;
}
.miExperiencia h5 {
    text-align: left;
    color: gray;
    font-size: 120%;
}
.miEducación h3 {
    padding-bottom: 10px;
    font-size: 120%;
}
.miExperiencia h3 {
    padding-bottom: 10px;
    font-size: 120%;
}
.educacion {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 700px;
    text-align: left;
    margin-left: 5%;
}
.miEducación {
    text-align: left; 
    border: 0;
    border-left: 5px solid var(--colorElegido);
    margin-left: 6%;
    padding-left: 3%;
}
.experiencia {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 700px;    
    margin-top: -2px;
    margin-left: 15%;
}
.miExperiencia {
    text-align: left; 
    border: 0;
    border-left: 5px solid var(--colorElegido);
    margin-left: 6%;
    padding-left: 3%;
}

/*aca empieza quinta seccion con mis habilidades*/
  
.quinta {
    /* border: var(--paraBordes); */
    width: 100%;
    margin-top: 100px;
}
.quinta h2 {
    width: 30%;
    margin-left: 7%;
    padding: 30px 0;
}
/* 
.quintaBis { 
    display: flex; 
    justify-content: space-between;
    padding: 0 0% 0 0%;
    margin-top: 3%;
    width: 86%;
    margin-left: 7%;
    height: auto;
    border: 5px solid violet;  
} */


.quintaBis h3 {
    margin-top: 10px;
    /*para controlar ancho barra*/
    width: 530px;
    height: 50px;
    display: flex;
    justify-content:space-between;
    font-size: 100%;
    /* border: 1px solid black; */
}
.quintaBis span {
    /* border: 1px solid red; */
    width: 40px;
    height: 35px;
    margin-right: 1%;
    /* margin-left: 69%; */
    text-align: left;
}
.barraDeProgreso {
    margin-top: 10px;
    width: 530px;
    height: 10px;
    /*para controlar barra de progreso*/
    padding-right: 5%;
    border-radius: 5px; 
    overflow: hidden; 
    background-color: gainsboro; 
}
.porcentaje1 {
    width: 60%;
    height: 10px;
    /*border: var(--paraBordes);*/
    background-color: var(--colorElegido);  
}
.porcentaje2 {
    width: 90%;
    height: 10px;
    /*border: var(--paraBordes);*/
    background-color: var(--colorElegido);  
}
.porcentaje3 {
    width: 85%;
    height: 10px;
    /*border: var(--paraBordes);*/
    background-color: var(--colorElegido);  
}
.porcentaje4 {
    width: 70%;
    height: 10px;
    /*border: var(--paraBordes);*/
    background-color: var(--colorElegido);  
}
.porcentaje5 {
    width: 60%;
    height: 10px;
    background-color: var(--colorElegido);  
}
.porcentaje6 {
    width: 95%;
    height: 10px;
    /*border: var(--paraBordes);*/
    background-color: var(--colorElegido);  
}
.deBotonCV {
    width: 100%;
    display: flex;
    justify-content: center;
}
.botonCV {
    color: var(--colorElegido);
    border: 2px solid black;
    font-size: 100%;
    width: 180px;
    height: 50px;
    background-color: white;
    margin: 50px auto;
    /*margin: 50px 42.5%; */
    border-radius: 5px;
    /*margin-left: 41%;
    margin-top: 50px;*/
  }
  .botonCV:hover {
    cursor: pointer;
    background-color:  rgba(0,0,0,.5);;
  }
  .botonCV a {
    text-decoration: none;
    color: black;
    
  }
  .botonCV a:hover {
    color: white;
    text-decoration-line: underline;
  }
  @media(max-width: 1200px) {
    .quinta { 
        padding: 2% 0 2% 0%;
    }
    .quinta h2 {
        /* border: 1px solid blue; */
        margin-left: 6%;
    }
  }
    .quintaBis {
        width: 86%;
        margin: 0 7%;
        display: flex;
        justify-content: space-between;
        padding: 0 0% 0 0%;
        /* background-color: aqua;  */
     } 
     .quintaBis h3 {
        width: 100%;
     }
     .barraDeProgreso {
        width: 100%;
     }
    .porcentajesA {
        width: 46%;
        /* border: 1px solid red;    */
    } 
    .porcentajesB {
        width: 46%;
        /* border: 1px solid violet;  */ 
    }
    @media(max-width:1200px){
        .quintaBis {
            width: 88%;
            margin: 0 6%;
        } 
    }
    @media(max-width:1024px){
        .quintaBis {
            width: 92%;
            margin: 0 4%;
        }   
    .quinta h2 {
        /* border: 1px solid blue;  */
        margin-left: 4%;
    }
    }
    @media(max-width:992px){
        .quinta {
            margin-top: 18%;
        }
        .quintaBis {
            width: 92%;
            margin: 0 4%;
        }   
    .quinta h2 {
        /* border: 1px solid blue;  */
        margin-left: 4%;
    }
    }
    @media(max-width:768px){
        .quinta {
            margin-top: 38%;
        }
        .quinta h2 {
            margin-left: 4%;
            width: 50%;
    }
        .quintaBis {
            width: 92%;
            margin: 0 4%;
            height: auto;
            display: flex;
            flex-direction: column;
        }   
        .porcentajesA, .porcentajesB {
            width: 95%;
        }

    }
    @media(max-width:576px){
        .quinta {
            margin-top: 98%;
        }
        .quinta h2 {
            margin-left: 6%;
        }
        .quintaBis {
            width: 92%;
            margin: 0 0 0 6%;
        }   
    
    }
    @media(max-width:440px){
        .quinta {
            margin-top: 165%;
        }
        .quinta h2 {
            margin-left: 6%;
        }
        .quintaBis {
            width: 92%;
            margin: 0 0 0 6%;
        }   
    
    }
    
    
      
  /*aca empieza sexta sección sobre porfolio*/

 .sexta {
    background-color: var(--colorParaFondo);
    width: 100%;
    height: 100%;
    padding-top: 70px;
    margin-top: 50px;
    padding-bottom: 3%;
  }
  .sexta h2 {
    width: 100% ;
    /* border: var(--paraBordes); */
    text-align: center;
  }

  .sexta h2 strong {
    width: 100%;
    /* border: 1px solid black; */
    margin: 0 auto;
    font-size: 120%;
  }
  .sexta p {                    
    width: 80px;
    height: 23px;
    background-color: var(--colorElegido);
    font-size: 115%;
    margin: 50px auto;
  }
  .navbar2  {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 120%;
    margin: 50px auto;
    gap: 17px;
    /* border: var(--paraBordes); */
  }
  @media(max-width:400px) {
    .navbar2 {
        gap: 10px;
    }
  }
  .navbar2 a {
    text-decoration: none;
    color: gray;
  }


  .contenedor-imagenes{
    display: flex;
    width: 86%;
    height: 100%;
    margin-left: 7%;
    margin-top: 2%;
    justify-content: space-between;
    /* border: var(--paraBordes); */
}
.contenedor-img {
    position: relative;
    width: 32%;
}

.imagen-fondo {
    display: block;
    width: 100%;
}
.contenedor-texto {
    position: absolute;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%; 
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(0,0,0,.5);
}
.contenedor-texto i {
    color: white;
    font-size: 250%;
    position: absolute;
    top: 20%;
    right: 45%;
}
.contenedor-texto h2 {
    left: 15%;
}
.contenedor-texto h3 {
    color: white;
    font-size: 150%;
    position: absolute;
    top: 55%;
    right: 35%;  
}

@media(max-width:1200px) {
   .contenedor-texto h2 {
    left: 12%;
   }
}
.texto {
    max-width: 265px;
    font-size: 150%;
    color: white;
    position: absolute;
    top: 30%;
    left: 2%;
}
.contenedor-img:hover .contenedor-texto {
    opacity: 1;
}

.contenedor-imagenes2 {
    display: flex; 
    width: 86%;
    height: 100%;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 2%;
    justify-content: space-between;
    display: none;
    
} 
@media(max-width:1200px) {
    .contenedor-imagenes {
        margin-left: 5%;
        width: 90%;
    }
}
@media(max-width:1024px) {
    .contenedor-imagenes2 {
        display: block; 
        display: flex; 
        width: 92%;
        justify-content: space-between;
        margin-left: 5%;
        gap: 50px;

    }
}
@media(max-width:1025px) {
    .contenedor-imagenes {
        display: none;
        width: 42%;
    }
}
@media(max-width:992px) {
    .contenedor-imagenes2 {
        margin-left: 4%;
        width: 92%;
    }
}
@media(max-width:768px) {
    .contenedor-imagenes2 {
        margin-left: 4%;
        width: 92%;
        justify-content: center;
        gap: 20px;
    }
} 
@media(max-width:576px) {
    .sexta {
        margin-top: 0px;
    }
    .contenedor-imagenes2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: 0%;
        /* border: var(--paraBordes); */
        gap: 0px;
    } 
    .contenedor-img2 {
        /* border: 1px solid red; */
        width: 100%;
    }
} 
.contenedor-img2 {
    position: relative;
    width: 96%;
}
.imagen-fondo2 {
    display: block;
    width: 100%;
}
.contenedor-texto2 {
    position: absolute;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%; 
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(0,0,0,.5);
}
.contenedor-texto2 i {
    color: white;
    font-size: 250%;
    position: absolute;
    top: 20%;
    right: 45%;
}

@media(max-width:1024px){
    .contenedor-texto2 i {
        right: 47%;
    }
    
}
.contenedor-texto2 h2 {
    left: 15%;
}
@media(max-width:1024px){
    .contenedor-texto2 h2 {
        left: 20%;
    }
}
@media(max-width:768px){
    .contenedor-texto2 h2 {
        left: 10%;
    }
}
@media(max-width:576px){
    .contenedor-texto2 h2 {
        left: 25%;
    }
}
@media(max-width:440px){
    .contenedor-texto2 h2 {
        left: 17%;
    }
}
@media(max-width:412px){
    .contenedor-texto2 h2 {
        left: 14%;
    }
}
.contenedor-texto2 h3 {
    color: white;
    font-size: 150%;
    position: absolute;
    top: 55%;
    right: 35%;  
}

@media(max-width:1024px){
    .contenedor-texto2 h3 {
        right: 39%;
    }
    
}
.texto2 {
    max-width: 270px;
    font-size: 150%;
    color: white;
    position: absolute;
    top: 30%;
    left: 2%;
}
.contenedor-img2:hover .contenedor-texto2 {
    opacity: 1;
}
.septima {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 427px;
    background-image: url(manos_sobre_teclado.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
  }
  .septima h1 {
    margin: 10px auto 100px auto;
    color: white;
    font-size: 250%;
    
    /* border: 1px solid white; */
  }
  .septima button {
    /* margin-left: 550px; */
    background-color: var(--colorElegido);
    /* width: 15%; */
    /* height: 80px; */
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    border: var(--paraBordes);
    padding: 25px 25px;
  }
  .septima button:hover {
    background-color:  rgba(66, 224, 66, 0.5);
  }
  .septima a {
    /* padding-top: 50px; */
    text-decoration: none;
    color: black;
    font-size: 150%;
}
@media(max-width:660px) {
    .septima h1 {
        font-size: 200%;
    }
}
@media(max-width:530px) {
    .septima h1 {
        font-size: 180%;
    }
}
@media(max-width:478px) {
        .septima h1 {
            font-size: 160%;
        }
}
@media(max-width:440px) {
        .septima h1 {
            font-size: 150%;
        }
        .septima button {
            padding: 15px;
        }
}
 /*aca empieza footer*/

 .octava {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--colorElegido);
    }
.octava2 {
    margin-left: 7%;
    width: 50%;
    height: 900px;  
    /* border: var(--paraBordes);  */        
}
.octava2 h1 {
    /* border: var(--paraBordes); */
    margin: 100px auto;
    font-size: 220%;
    }
.octava2 h3 {
    margin: 50px auto;
    color: black;
    padding-right: 15%;
}

.octava2 p {
    width: 250px;
    height: 30px;
    /* margin-top: 10px; */
    /* margin-left: 0; */
    color: black;
    font-size: 110%;
    text-align: justify;
}
.octava3 { 
    margin-right: 6%;
}
.redes {
    display: flex;
    justify-content: space-between;
    margin-top: 112px;
    /* border: 1px solid black; */
    /* position: relative; */
    width: 120px;
}
.redes i {
    /* margin-left: 0px; */
    width: 40px;
    height: 40px;
    color: black;
    font-size: 200%;
    justify-content: left;
}
.redes i:hover {
    color: var(--colorParaFondo);
}
.iconos {
    color: var(--colorElegido);
}
.octava3 {
    /* border: var(--paraBordes); */
    width: 50%;
}
.octava3 h1 {
    /* border: var(--paraBordes); */
    margin: 100px 0;
    font-size: 220%;
}
form {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}
label {
    font-size: 120%;
    margin: 0px 0 30px 0;
}
input[type=text] {
    padding: 30px;
    border: 0;
    border-bottom: 1px solid black;
    background-color: var(--colorElegido);
    margin-bottom: 10px;
}
input[type=text]:focus {
    background: white;
    outline: none;

}
textarea {
    /* margin-bottom: 70px; */
    min-height: 80px;
    background-color: var(--colorElegido);
    border: 0;
    border-bottom: 1px solid black;
    resize: vertical;
}
textarea:focus {
    background: white;
    outline: none;
}
.botonEnviar {
    background-color: black;
    width: 200px;
    font-size: 120%;
    padding: 15px 0;
    color: white;
    border-radius: 5px;
    }
.botonEnviar:hover {
    background-color:  rgba(0,0,0,.5);
    border: 2px solid black;
}
.botonEnviar a {
    font-size: 100%;
    color: white;
    
}
@media(max-width:1200px) {
    .octava2 {
        margin-left: 5%;
    }
    .octava3 {
        margin-right: 5%;
    }
}
@media(max-width:992px) {
    .octava2 {
        margin-left: 3%;
    }
    .octava3 {
        margin-right: 3%;
    }
}
@media(max-width:768px) {
    .octava2 {
       width: 45%; 
    }
    .redes {
        margin-top: 50px;
    }
}
@media(max-width:576px) {
    .octava2 {
        width: 50%;
        margin-right: 10px;
    }
    .octava2 h1 {
        font-size: 150% ;
    }
    .octava3 h1 {
        font-size: 150% ;
    }
    .redes {
        margin-top: 20px;
    } 
    .botonEnviar {
        margin-top: 40px;
    }
}
@media(max-width:440px) {
    .octava {
        flex-direction: column-reverse;
        padding-bottom: 50px;
        margin-top: 0%;
    }
    .octava2 {
        width: 90%;
        height: 90%;
        margin-top: 0%;
        padding-bottom: 0%;
        /* border: var(--paraBordes); */
    }
    .octava3 { 
        /* border: var(--paraBordes); */
        width: 90%;
        margin-left: 3%;
        /* margin-top: -30%; */
    }
}







