
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Solway&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --colorOriginal: rgb(245,223,78);
    --colorElegido: rgb(120,240,121);
    --colorParaFondo: rgb(248,249,250);
    --colorOpcional: rgb(243,241,239);
    --colorMoxa: rgb(234,77,53);
    --paraBordes: 1px solid black;
}
header { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: white;
    position: fixed;
    z-index: 30;
    font-family: Solway, cursive;
    box-shadow: 0px 5px 5px gray;
}
header nav {
    word-spacing: 10px;
}
header nav a {
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    color: grey;    
}
header nav a:hover {
    text-decoration: underline;
    color: var(--colorElegido);
}
header div a {
    font-size: 150%;
    color: black;    
}
header div a:hover {
    color: var(--colorElegido);
}
.hamburguesa {
    display: none;
    
}  
@media(max-width:840px) {
    nav, header div {
        display: none;
    }
    .hamburguesa {
        display: block;
        margin-right: 50px;
        font-size: 150%;
    }
}
main {
    font-family: Solway, cursive;
}
/* section {
    width: 100%;
    height: 600px;
    background-color: var(--colorElegido);
    display: flex;  
} */
.primera {
    /* border: 1px solid red; */
    /* background-color: blue; */
    width: 100%;
    height: 700px;
    display: flex;
    background-color: var(--colorElegido);
}
@media(max-width:1266px) {
    .primera {
        /* background-color: blueviolet; */
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: 850px;
        /* border: var(--paraBordes); */
    }
    .derecha {
        display: flex;
        justify-content: center;
        /* border: var(--paraBordes); */
        width: 550px;
        height: 600px;
        margin-right: 100px;
        padding-top: 100px;
        
        /* margin-left: -100px; */
        
        
    }
    .izquierda {
        /* border: var(--paraBordes); */
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        width: 600px;
    }
    .izquierda h2 {
        margin-left: -100px;
    }
    .izquierda h1 {
        font-size: 350%;
        padding: 20px 0;
        margin-left: -70px;
    }
    .izquierda h3 {
        margin-right: 100px;
        margin-bottom: 0px;
    }
    .flecha {
        display: none;
    }
    .imagenPerfil {
        margin-left: 0px;
        margin-top: 0px;
    }
    .boton1 {
        
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 20px;
    }
    .boton2 {
        margin-right: 75px;
        /* border: var(--paraBordes); */
    }
}
@media(max-width:768px) {
    .izquierda h3 {
    width: 600px;
    text-align: center;
      /* border: var(--paraBordes);  */ 
    }
    .boton1 {
        margin-right: -10px;  
    }
}

@media(max-width:576px) {
    .izquierda h2 {
        border: var(--paraBordes);
      font-size: 80%;  
      text-align: center;
      width: 100%;
    }
    .izquierda h1 {
        font-size: 300%;
        margin-left: 20px;
      /* border: var(--paraBordes);  */ 
    }
    .boton1 {
        margin-right: -10px;  
    }
}
.izquierda {
    width: 50%;
    height: 360px;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-left: 100px;
    text-align: left;
    align-items: center;
    justify-content: center;
} 
.izquierda h2 {
    margin-top: 100px;
    font-size: 250%;
} 
h1 {
    width: 650px;
    height: 70px;
    font-size: 360%;
}
.izquierda h3 {
    padding: 20px 0;
    margin-bottom: 30px;
}
.boton1 {
    border: var(--paraBordes); 
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.boton1:hover {
    background-color: var(--colorParaFondo);
    color: var(--colorElegido);
}
.boton2 {
    text-decoration: none;
    color: gray;
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 15px; 
    border-radius: 2px;  
}
.boton2:hover {
    color: white;
}
.derecha {
    width: 50%;
    height: 600px;  
}
.imagenPerfil {
    margin-top: 150px;
    margin-left: 100px;
    width: 400px;
    height: 400px;
    border-radius: 200px;
    border: 10px solid white;
}
.flecha {
    background-color: var(--colorElegido);
    width: 100%;
    height: 10px;
    margin-left: 45%;
    margin-top: 120px;
}
/*aca empieza segunda seccion con presentaci贸n*/
.segunda {
    border: var(--paraBordes);
    padding-top: 10px;
    width: 100%;
    height: 750px;
    background-color: white;
        /*padding-bottom: 20px;*/
}
.segundabis {
    display: flex;
    /*border: 1px solid black;*/
    width: 100%;
    height: 375px;
}
.encabezado1 {
    /* border: var(--paraBordes); */
}
.encabezado2 {
    /* border: var(--paraBordes); */
    height: 500px;
}
.encabezado1 p{
    color: black;
    background-color: var(--colorElegido);
    align-items: center;
    margin: 100px auto;
    font-size: 100%;
    width: 102px;
    height: 22px; 
}
.encabezado1 h2 {
    color: black;
    margin: 20px 0 0 0;
    text-align: center;
    font-size: 200%;
}
.presentacion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.presentacion h2 {
    /*border: 1px solid black;*/
    margin-left: 13%;
    margin-top: 5%;
    font-size: 200%;
    width: 725px;
    height: 50px;
}
.presentacion h2 span {
    text-decoration: underline rgb(181, 245, 168);
}
.presentacion p {
    /* border: 1px solid black;  */
    margin-left: 13%;
    margin-top: 1%;
    font-size: 150%;
    width: 725px;
    height: 200px;
}
.experiencia1 {
    /* border: 1px solid black; */
    margin-left: 10%;
    margin-top: 2.7%;
    margin-right: 0%;
    width: 400px;
    height: 258px;
}
@keyframes escala {
    0%{
        transform: scale(1.0)
    }
    50%{
        transform: scale(1.5)
    } 
100% {
    transform: scale 1.2;
}
}
.experiencia1 h1 {
display: flex;
/*border: 1px solid black;*/
border-radius: 100px;
font-size: 1300%;
text-align: center;
justify-content: center;
align-items: center;
width: 120px;
height: 120px; 
background-color: var(--colorElegido);
/*padding: 60px;*/
margin-top: 40px;
margin-left: 130px;
margin-bottom: 20px;
animation-name: escala;
animation-duration: 6s;
animation-iteration-count: 2;
}

.experiencia1 h4 {
margin-top: 20px;
text-align: center;
font-size: 150%;
}
@media(max-width:1196px) {
    .segunda {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
        height: 1040px;  
        /* border: var(--paraBordes); */
    }
    .segundabis {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .encabezado1 h2 {
        padding-bottom: 50px;
    }
    .encabezado2 {
        padding-top: 60px;
    }
    .presentacion h2 {
        width: 100%;
        height: 100px;
        text-align: center;
        margin-left: 0%;
        /* border: var(--paraBordes);  */
    }
    .presentacion  p{
        margin-left: 5%;
        width: 90%;
        height: 200px;
        text-align: center;
    }
    .experiencia1 {
        margin-left: 0%;
    }
}
.tabladatos {
    margin-top: -130px;
    font-family: Solway, cursive;
    margin-left: 7%;
    width: 1200px;
    height: 80px;
    /* margin-bottom: 30px; */
    /* border: var(--paraBordes); */
}
.partesuperiortabla {
    color: grey;
}
.parteinferiortabla {
    color: black;
}
.email {
    margin-left: 0%;
    font-size: 100%;
    color: black;
    text-decoration: underline;
}
@media(max-width: 1160px) {
    .tabladatos {
    display:none;
    }
}
.tabladedatos2 {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    display: none; 
}
.tabladedatos2 h4 {
    padding-top: 10px;
}
.tabladedatos2 span {
    color: grey;
}
@media(max-width: 1160px) {
    .tabladedatos2 {
        width: 100%;
        height: 150px;
        display: block;
        display: flex;
        justify-content: space-between;
        /* border: var(--paraBordes); */
}
.tablaizquierda {
    width: 50%;
    height:150px;
    /* border: var(--paraBordes); */
    text-align: left;
    padding-top: 10px;
}

.tabladerecha {
    width: 50%;
    height: 150px;
    padding-top: 10px;
    /* border: var(--paraBordes);  */
    text-align: left;
}
}

/*aca empieza tercera seccion sobre lo que puedo hacer*/
.tercera {
    padding-top: 80px;
    background-color: var(--colorParaFondo);
    width: 100%;
    height: 850px;
}
.tercera p {
    margin: 40px auto;
    background-color: var(--colorElegido);
    width: 155px;
    height: 23px;
    font-size: 110%;
}
.tercera h2 {
    font-size: 200%;
    margin: 30px auto;
    text-align: center;
}
.padre {
    display: flex;
    justify-content: center;
}
.caja1 {
    margin: 0 10px;
    /*border: 1px solid black;*/
    width: 350px;
    height: 260px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 30px;
}
.caja1 p {
    text-align: center;
    font-size: 120%;
    /*border: 1px solid black;*/
    margin: 0 auto;
    width: 330px;
    height: 120px;
    background-color: ghostwhite;
    color: gray;
    padding-top: 30px;
}
.caja1 i { 
    /*margin-top: 50px;*/
    width: 350px;
    height: 60px;
    color: var(--colorElegido);
    font-size: 50px;
    /*background-color: aqua;*/
    padding-top: 60px;
    padding-bottom: 30px;
    /*padding-left: 140px;*/
    /*border: 1px solid black;*/
    justify-content: center;
}
.caja1 h3 strong {
    width: 350px;
    /*height: 190px;*/
    /*border: 1px solid black;*/
    margin-top: 20px;
    font-size: 150%;
    padding-top: 30px;
}
.padre2 {
    display: flex;
    justify-content: center;
}
.caja2 {
    margin: 0 10px;
    /*border: 1px solid black;*/
    width: 350px;
    height: 260px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 30px;
}
.caja2 p {
    text-align: center;
    font-size: 120%;
    /*border: 1px solid black;*/
    margin: 0 auto;
    width: 330px;
    height: 120px;
    background-color: ghostwhite;
    color: gray;
    padding-top: 30px;
}
.caja2 i { 
    /*margin-top: 50px;*/
    width: 350px;
    height: 60px;
    color: var(--colorElegido);
    font-size: 50px;
    /*background-color: aqua;*/
    padding-top: 60px;
    padding-bottom: 30px;
    /*padding-left: 140px;*/
    /*border: 1px solid black;*/
    justify-content: center;
}
.caja2 h3 strong {
    width: 350px;
    /*height: 190px;*/
    /*border: 1px solid black;*/
    margin-top: 20px;
    font-size: 150%;
    padding-top: 30px;
}
@media(max-width: 1160px) {
    .padre {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--colorParaFondo);
    }
    .padre2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--colorParaFondo);
    }
}/*aca empieza cuarta seccion resumen de cv*/
.cuarta {
    margin: 46px auto;
    width: 100%;
    height: 700px;
    padding-top: 80px;
    
}
.cuarta p {
    margin: 0 auto;
    background-color: var(--colorElegido);
    width: 80px;
    height: 23px;
    font-size: 110%;
}
.cuarta h2 {
    font-size: 200%;
    margin: 20px auto;
    text-align: center;
    
}
@media(max-width:1160px) {
    .cuarta {
        margin-top: 1060px;
    }     
}
@media(max-width:1160px) {
    .resumen {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .experiencia {
        padding-top: 30px;
        padding-right:4% ;
    }
}
.resumen {
    width: 100%;
    height: 700px;
    display: flex;
    text-align: left;
}
.resumen h2 {
    font-size: 150%;
    text-align: left;
}
.subtitulo {
    padding-left: 6%;
}
.miEducaci贸n h5 {
    text-align: left;
    color: gray;
    font-size: 120%;
}
.miExperiencia h5 {
    text-align: left;
    color: gray;
    font-size: 120%;
}
.miEducaci贸n h3 {
    padding-bottom: 10px;
    font-size: 120%;
}
.miExperiencia h3 {
    padding-bottom: 10px;
    font-size: 120%;
}
.educacion {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 700px;
    text-align: left;
    margin-left: 5%;
}
.miEducaci贸n {
    text-align: left; 
    border: 0;
    border-left: 5px solid var(--colorElegido);
    margin-left: 6%;
    padding-left: 3%;
}
.experiencia {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 700px;    
    margin-top: -2px;
    margin-left: 13%;
}
.miExperiencia {
    text-align: left; 
    border: 0;
    border-left: 5px solid var(--colorElegido);
    margin-left: 6%;
    padding-left: 3%;
}

/*aca empieza quinta seccion con mis habilidades*/

.quinta {
    display: flex;
    padding-top: 50px;
    margin-top: 5%;
    padding-left: 8.5%;
    width: 1070px;
    height: 60px;
}
.quinta h2 {
    margin-left: 0%;
    height: 30px;
    width: 240px;
}
.quintaBis {
    display: flex; 
    justify-content: space-between;
    margin-left: 8.5%;
    margin-top: 3%;
    width: 550px;
    height: 250px;
}
.quintaBis h3 {
    margin-top: 10px;
    /*para controlar ancho barra*/
    width: 550px;
    height: 50px;
    display: flex;
    justify-content:space-between;
    font-size: 100%;
}
.quintaBis span {
    width: 70px;
    height: 35px;
    margin-left: 69%;
    text-align: left;
}
.barraDeProgreso {
    margin-top: 10px;
    width: 480px;
    height: 10px;
    /*para controlar barra de progreso*/
    padding-right: 5%;
    border-radius: 5px; 
    overflow: hidden; 
    background-color: gainsboro; 
}
.porcentaje1 {
    width: 288px;
    height: 10px;
    /*border: var(--paraBordes);*/
    background-color: var(--colorElegido);  
}
.porcentaje2 {
    width: 432px;
    height: 10px;
    /*border: var(--paraBordes);*/
    background-color: var(--colorElegido);  
}
.porcentaje3 {
    width: 408px;
    height: 10px;
    /*border: var(--paraBordes);*/
    background-color: var(--colorElegido);  
}
.porcentaje4 {
    width: 336px;
    height: 10px;
    /*border: var(--paraBordes);*/
    background-color: var(--colorElegido);  
}
.porcentaje5 {
    width: 288px;
    height: 10px;
    background-color: var(--colorElegido);  
}
.porcentaje6 {
    width: 475px;
    height: 10px;
    /*border: var(--paraBordes);*/
    background-color: var(--colorElegido);  
}
.botonCV {
    color: var(--colorElegido);
    border: 2px solid black;
    font-size: 100%;
    width: 180px;
    height: 50px;
    background-color: white;
    justify-content: center;
    margin: 50px 42.5%;
    border-radius: 5px;
    /*margin-left: 41%;
    margin-top: 50px;*/
  }
  .botonCV:hover {
    cursor: pointer;
    background-color: black;
  }
  .botonCV a {
    text-decoration: none;
    color: black;
    
  }
  .botonCV a:hover {
    color: white;
    text-decoration-line: underline;
  }
  @media(max-width: 1170px) {
    .quinta { 
        margin-top: 650px;
        padding-left: 37%;

    }
  }
  @media(max-width:1200px) {
    .quintaBis {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
  }
  @media(max-width:1200px) {
    .botonCV {
        margin-top: 300px;
    }
  }
  
  /*aca empieza sexta seccion sobre porfolio*/



 .sexta {
    background-color: var(--colorParaFondo);
    width: 100%;
    height: 100%;
    padding-top: 70px;
    margin-top: 50px;
    padding-bottom: 3%;
  }
  .sexta h2 strong {
    margin-left: 380px;
    /*border: 1px solid black;*/
    font-size: 120%;
  }
  .sexta p {                    
    margin: 50px 46.5%;
    width: 80px;
    height: 23px;
    background-color: var(--colorElegido);
    font-size: 115%;
  }
  .navbar2  {
    
    width: 580px;
    height: 35px;
    padding: 40 px auto;
    justify-content: space-around;
    font-size: 110%;
    margin: 30px auto;
    text-align: center;
    word-spacing: 20px;
  }
  .navbar2 a {
    text-decoration: none;
    color: gray;
  }


  .contenedor-imagenes{
    display: flex;
    width: 86%;
    height: 100%;
    margin-left: 7%;
    margin-top: 2%;
    justify-content: space-between;
    /* border: var(--paraBordes); */
}
.contenedor-img {
    position: relative;
    width: 32%;
}

.imagen-fondo {
    display: block;
    width: 100%;
}
.contenedor-texto {
    position: absolute;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%; 
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(0,0,0,.5);
}
.contenedor-texto i {
    color: white;
    font-size: 250%;
    position: absolute;
    top: 20%;
    right: 45%;
}
.contenedor-texto h2 {
    left: 15%;
}
.contenedor-texto h3 {
    color: white;
    font-size: 150%;
    position: absolute;
    top: 55%;
    right: 35%;  
}
.texto {
    font-size: 150%;
    color: white;
    position: absolute;
    top: 30%;
    left: 2%;
}
.contenedor-img:hover .contenedor-texto {
    opacity: 1;
}

.contenedor-imagenes2 {
    display: flex; 
    width: 86%;
    height: 100%;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 2%;
    justify-content: space-between;
    display: none;
    
}
@media(max-width:1024px) {
    .contenedor-imagenes2 {
        display: block; 
        display: flex;
        width: 86%;
        justify-content: space-between;
    }
}
@media(max-width:1025px) {
    .contenedor-imagenes {
        display: none;
        width: 42%;
    }
} 
.contenedor-img2 {
    position: relative;
    width: 40%;
}

.imagen-fondo2 {
    display: block;
    width: 100%;
}
.contenedor-texto2 {
    position: absolute;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%; 
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(0,0,0,.5);
}
.contenedor-texto2 i {
    color: white;
    font-size: 250%;
    position: absolute;
    top: 20%;
    right: 45%;
}
.contenedor-texto2 h2 {
    left: 15%;
}
.contenedor-texto2 h3 {
    color: white;
    font-size: 150%;
    position: absolute;
    top: 55%;
    right: 35%;  
}
.texto2 {
    font-size: 150%;
    color: white;
    position: absolute;
    top: 30%;
    left: 2%;
}

.contenedor-img2:hover .contenedor-texto2 {
    opacity: 1;
}

.septima {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 427px;
    background-image: url(manos_sobre_teclado.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
  }
  @nedia(max-width:1024px) {
    .septima {
        padding-top: 100px;
    }
} 

/* @nedia(max-width:1000px) {
    .septima {
        margin-top: -100px;
    }
}  */
  
  .septima h1 {
    margin: 0 auto;
    width: 50%;
    padding-bottom: 145px;
    color: white;
    font-size: 250%;
    
  }
  .septima button {
    /* margin-left: 550px; */
    background-color: var(--colorElegido);
    width: 15%;
    height: 80px;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    border: var(--paraBordes);
  }
  .septima button:hover {
    background-color: green;
  }
  .septima a {
    padding-top: 50px;
    text-decoration: none;
    color: black;
    font-size: 150%;
}






