@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Solway&display=swap');
* {
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}
:root {
    --colorOriginal: rgb(245,223,78);
    --colorElegido: rgb(120,240,121);
    --colorParaFondo: rgb(248,249,250);
    --colorOpcional: rgb(243,241,239);
    --colorMoxa: rgb(234,77,53);
    --paraBordes: 1px solid black;
}
header { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: white;
    position: fixed;
    z-index: 30;
    font-family: Solway, cursive;
    box-shadow: 0px 5px 5px gray;
}
header nav {
    word-spacing: 10px;
}
header nav a {
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    color: grey;    
}
header nav a:hover {
    text-decoration: underline;
    color: var(--colorElegido);
}
header div a {
    font-size: 150%;
    color: black;    
}
header div a:hover {
    color: var(--colorElegido);
}
.hamburguesa {
    display: none;   
}  
@media(max-width:840px) {
    nav, header div {
        display: none;
    }
    .hamburguesa {
        display: block;
        margin-right: 50px;
        font-size: 150%;
    }
}
main {
    font-family: Solway, cursive;
}
.tabla {
    width: 100%;
    height: 150px;
    /* border: var(--paraBordes); */
}
.tabladatos {
    /* border: var(--paraBordes); */
    width: 86%;
    height: 150px;
    margin-left: 7%;
    display: flex;
    justify-content: space-between;
}

.tabladatos1 {
    /* border: var(--paraBordes); */
    padding: 15px 0;
    width: 43%;
    height: 150px;
    display: flex;
    justify-content: space-between;
}
.tabladatos2 {
    padding: 15px 0;
    /* border: var(--paraBordes); */
    width: 43%;
    height: 150px;
    display: flex;
    justify-content: space-between;
}
.titulos {
    padding: 15px 0;
    color: grey;
}
.tabladatos1 h3 span {
    text-decoration: underline;
}
h3 {
    width: 270px;
    min-width: 270px;
    height: 60px;
    /* border: var(--paraBordes);  */
}
@media(max-width:1094px) {
    .tabladatos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-left: 0%;
    }
}
@media(max-width:768px) {
        h3 {
            /* border: var(--paraBordes); */
            margin-left: -50px;
        }
    }
    @media(max-width:576px) {
            .tabladatos1 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 230px;
            }
            .tabladatos2 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 100px;
                
            }
        }
    


















